<!-- This page refer to the header of all pages.
!-->
<nav class="navbar">
<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      Super
    </a>
  </div>
</div>
</nav>
<div class="container containerExtensionForNavBar">
  <ul class="nav nav-tabs" role="tablist">
    <!--This if statements check which varibale is set.
    page varibale refer to current active page. For more
    information check ejs pages. E.G->login.ejs
    !-->
    <% if(page === 'homepage'){%><li class =" <%=active%>"><%}%>
    <% if(page != 'homepage'){%><li><%}%>
      <a href="homepage">Home</a>
    </li>
    <% if(locals.session.loggedIn !== true){%><!-- We need to check if user is logged in and should display login link or not..!-->
      <% if(page === 'login'){%><li class =" <%=active%>"><%}%>
      <% if(page != 'login'){%><li><%}%>
        <a href="/login">Login</a>
      </li>
    <%}%>
    <% if(locals.session.loggedIn !== true){%> <!-- Check if we are logged in and dont serve the registtion Page.!-->
      <% if(page === 'register'){%><li class =" <%=active%>"><%}%>
      <% if(page != 'register'){%><li><%}%>
        <a href="/register">Register</a>
      </li>
    <%}%>

    <% if(page === 'about'){%><li class =" <%=active%>"><%}%>
    <% if(page != 'about'){%><li><%}%>
      <a href="/about">About Super</a>
    </li>


    <% if(page === 'contactus'){%><li class =" <%=active%>"><%}%>
    <% if(page != 'contactus'){%><li><%}%>
      <a href="/contactus"> Contact Us</a>
    </li>

    <% if(page === 'gamepage'){%><li class =" <%=active%>"><%}%>
    <% if(page != 'gamepage'){%><li><%}%>
      <a href="/gamepage">Play Game</a>
    </li>
    <% if(page === 'calculator'){%><li class =" <%=active%>"><%}%>
    <% if(page != 'calculator'){%><li><%}%>
      <a href="/calculator"> Calculator</a>
    </li>
    <% if(locals.session.loggedIn === true){%>
    <li style = "cursor:pointer;">
      <a href = "/logout" style = "cursor:pointer;color:orangeRed;"> Log out</a>
    </li>
    <%}%>
  </ul>
</div>
