<div class = "container containerExtensionForContentArea registrationPageFormDiv">
    <form action="/register" method = "post">
        <div class="form-group">
          <label id = "firstNameLabel" for="firstName">*First Name:</label>
          <input name = "firstName" type="text" class="form-control registrationPageInput" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName" id = "lastNameLabel">*Last Name:</label>
          <input name = "lastName" type="text" class="form-control registrationPageInput" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="email" id = "emailLabel">*Email: (Should be unique.)</label>
          <input name = "email" type="text" class="form-control registrationPageInput" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="phoneNumber" id = "phoneNumberLabel">*Phone Number:</label>
          <input name = "phoneNumber" type="text" class="form-control registrationPageInput" id="phoneNumber" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="password" id = "passwordLabel">*Password:(At least 6 Characters long.)</label>
          <input name = "password" type="password" class="form-control registrationPageInput" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label id = "dob">Date of Birth</label>
          <input name = "dob" type="date" class="form-control registrationPageInput" id="dateofbirth" placeholder="Date of Birth">
        </div>
        <div class="form-group">
          <label for="emplymentStatus">Would you like to be contacted by our QSuper representatives?</label>
          <select class="form-control registrationPageInput" id="employmentStatus" style = "font-size:1em;">
            <option value = "student"> Yes</option>
            <option value = "student" style = "color:orangeRed"> No</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  function HighlightErrorRegisterForms(formId){
    if(formId == "EMAIL"){  
      document.getElementById('emailLabel').style.color = "orangeRed";
      document.getElementById('email').style.color = "orangeRed"; 
    }
    else if(formId == "NAME"){
      document.getElementById('firstNameLabel').style.color = 'orangeRed';
      document.getElementById('firstName').style.color = 'orangeRed';
    }
    else if(formId == "LAST_NAME"){
      document.getElementById('lastNameLabel').style.color = 'orangeRed';
      document.getElementById('lastName').style.color = 'orangeRed';
    }
    else if(formId == "PHONE_NUMBER"){
      document.getElementById('phoneNumberLabel').style.color = 'orangeRed';
      document.getElementById('phoneNumber').style.color = 'orangeRed';
    }
    else if(formId == "PASSWORD"){
      document.getElementById('passwordLabel').style.color = 'orangeRed';
    }
  }
</script>
<%if(locals.session.error == true){
  if(locals.formData){%>
    <script>
      document.getElementById('email').value = "<%=formData.email%>";
      document.getElementById('firstName').value = "<%=formData.firstName%>";
      document.getElementById('dateofbirth').value = "<%=formData.dob%>";
      document.getElementById('lastName').value = "<%=formData.lastName%>";
      document.getElementById('phoneNumber').value = "<%=formData.phoneNumber%>";
    </script>
  <%}
}
%>
<%if(locals.session.errorForms){
  for(var i = 0; i<session.errorForms.length;i++){
    %>
    <script>HighlightErrorRegisterForms("<%= session.errorForms[i]%>")</script>
    <%
  }
}
%>
